/* daynighttoggle.css */
.icon {
  font-size: 1em; /* Same size as other nav icons */
  color: var(--icon-color); /* Use the icon color from your CSS variables */
  cursor: pointer; /* Ensure cursor indicates clickable */
}

.icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.icon-wrapper {
  width: 40px; /* Set a fixed width */
  height: 40px; /* Set a fixed height */
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-icon {
  font-size: 3em; /* Ensure all icons are the same size */
  color: var(--icon-color); /* Use the icon color from your CSS variables */
}

.icon-link:hover .logo-icon,
.icon-container:hover .logo-icon {
  cursor: pointer; /* Ensure cursor indicates clickable */
}

.icon-link:hover .icon-text,
.icon-container:hover .icon-text {
  opacity: 1;
  transform: translateX(-50%) translateY(0);
}
