/* App.css */

.App {
  display: flex;
  min-height: 100vh;
  background-color: var(--background-color);
  color: var(--text-color);
}

.navbar-container {
  width: 25vw; /* 25% of viewport width */
}

.main-content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Allow main content to grow and fill the remaining space */
  padding: 10px;
  margin: 0 auto;
}

.suggest-container {
  width: 20vw; /* 20% of viewport width */
}
