/* App.css */

.App {
  text-align: center;
  overflow-x: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: row; /* Change to row to place items side by side */
  align-items: flex-start; /* Align items at the start */
}

.App.light {
  background-color: var(--light-background);
  color: var(--light-text-color);
}

.App.dark {
  background-color: var(--dark-background);
  color: var(--dark-text-color);
}

.main-content {
  flex-grow: 1; /* Allow the main content to grow and fill space */
  margin-left: 20vw; /* Adjust margin-left to accommodate sidebar width */
  padding: 20px; /* Add padding as needed */
}
