/* Navbar.css */

.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  width: 25vw; /* 25% of viewport width */
  height: 100vh; /* Full height */
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  border-right: 3px solid var(--border-color); /* Add border to the right */
}

.App.light .sidebar {
  background-color: var(--light-background);
  color: var(--light-text-color);
}

.App.dark .sidebar {
  background-color: var(--dark-background);
  color: var(--dark-text-color);
}

.logo-title-container {
  display: flex;
  align-items: center;
  padding-bottom: 20px; /* Add padding to differentiate logo from icons */
}

.logo-title {
  font-size: 1.5em;
  font-weight: bold;
  margin-left: 10px; /* Add some space between the logo and the title */
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.sidebar li {
  margin: 0; /* Reset margin */
  border-bottom: 1px solid var(--border-color); /* Add border between items */
}

.sidebar li:last-child {
  border-bottom: none; /* Remove border from the last item */
}

.sidebar a,
.sidebar button,
.sidebar .daynight-toggle-wrapper {
  text-decoration: none; /* Remove underline for visited links */
  color: inherit; /* Inherit the text color from the parent element */
  background: none; /* Ensure button has no default styles */
  border: none; /* Ensure button has no border */
  cursor: pointer; /* Ensure the button has a pointer cursor */
  padding: 10px 20px; /* Add padding for better spacing */
  display: flex;
  align-items: center;
}

.sidebar a:visited {
  text-decoration: none; /* Remove underline for visited links */
  color: inherit; /* Inherit the text color from the parent element */
}

.icon-container {
  display: flex;
  align-items: center; /* Align items center vertically */
  cursor: pointer; /* Ensure the cursor indicates clickable */
  padding: 10px 0; /* Add padding for better spacing */
}

.icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.nav-icon {
  font-size: 2em; /* Ensure all icons are the same size */
  color: var(--icon-color); /* Use the icon color from your CSS variables */
  font-weight: bold;
}

.icon-text {
  margin-left: 15px; /* Add space between icon and text */
  font-size: 1.5em; /* Adjust font size as needed */
  color: var(--text-color);
}

.sidebar li.active .nav-icon,
.sidebar li.active .icon-text {
  font-weight: bold; /* Make icon and text bold when active */
  color: var(--icon-color); /* Change color if needed */
}
